<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TishreenUniversity.ParallelPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <userSettings>
        <TishreenUniversity.ParallelPro.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>DWnWRHi/k79kR8ex1DH9/w==</value>
            </setting>
            <setting name="AdminSalt" serializeAs="String">
                <value>gRwvvB6vTiA=</value>
            </setting>
            <setting name="TeacherPassword" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="TeacherSalt" serializeAs="String">
                <value>salt</value>
            </setting>
            <setting name="AdminUsername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="IsExamMode" serializeAs="String">
                <value>False</value>
            </setting>
        </TishreenUniversity.ParallelPro.Properties.Settings>
    </userSettings>
</configuration>